@import 'normalize.css'; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --accent-color: #8aa936;
  --white-color: #fafafa;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color: #fafafa;
  --primary-text-color: #23262a;
  --secondary-text-color: #3e4462;
  --page-title-color: #001833;
  --background-color-circle: #22252a;
  --background-authForm-color: #2a2c36;
  --input-border-color: #e0e0e0;
  --error-color: #e74a3b;
  --border-line-color: #e0e0e0;
  --image-background-color: #ebf3d4;
  --cross-icon-color: #333333;
}
:root[data-theme='light'] {
  --background-color: #fafafa;
  --primary-text-color: #23262a;
  --secondary-text-color: #3e4462;
}

:root[data-theme='dark'] {
  --background-color: #1e1f28;
  --primary-text-color: #fafafa;
  --secondary-text-color: #fafafa;
}

.dark {
  --accent-color: #8aa936;
  --white-color: #fafafa;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color: #fafafa;
  --primary-text-color: #23262a;
  --secondary-text-color: #3e4462;
  --page-title-color: #fafafa;
  --background-color-circle: #22252a;
  --background-authForm-color: #2a2c36;
  --input-border-color: #e0e0e0;
  --error-color: #e74a3b;
  --background-color: #1e1f28;
  --primary-text-color: #fafafa;
  --secondary-text-color: #fafafa;
  --border-line-color: hsla(0, 0%, 98%, 0.3);
  --image-background-color: #2a2c36;
  --cross-icon-color: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  color: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.modal-open {
  overflow: hidden;
  pointer-events: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type=file]::file-selector-button {cursor: pointer}